*{
    background-color: rgb(126, 173, 184);
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

    text-align: center;
}
a{
    color:rgb(16, 89, 121);
    text-decoration: none;
}
h1{
    color:antiquewhite;
    background-color:rgb(16, 89, 121);;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  