*{
    background-color: rgb(126, 173, 184);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
a{
    color:rgb(16, 89, 121);
    text-decoration: none;
}
h1{
    color:antiquewhite
}